site_name: tfs-mt
repo_url: https://github.com/Giovo17/tfs-mt
site_url: https://giovo17.github.io/tfs-mt
site_description: Transformer from scratch for Machine Translation
site_author: Giovanni Spadaro
edit_uri: edit/main/docs/
repo_name: Giovo17/tfs-mt
copyright: |
  Copyright &copy; <a href="https://giovannispadaro.it">Giovanni Spadaro</a><br>
  Licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.

nav:
  - Home: index.md
  - Architecture:
      - Introduction: architecture_explain/introduction.md
      - The Attention mechanism: architecture_explain/attention.md
      - Tokenization and Embeddings: architecture_explain/tokenization_embeddings.md
      - Encoder/Decoder: architecture_explain/encoder_decoder.md
      - Enhancements and sizing: architecture_explain/enhancements_and_sizing.md
      - Conclusions: architecture_explain/conclusions.md
  - Training/Inference:
      - Introduction: training_inference/introduction.md
      - Training: training_inference/training.md
      - Inference: training_inference/inference.md
      - Conclusions: training_inference/conclusions.md
  - Modules:
      - Architecture: modules/architecture.md
      - Embeddings: modules/embeddings.md
      - Data utils: modules/data_utils.md
      - Training utils: modules/training_utils.md
      - Decoding utils: modules/decoding_utils.md

theme:
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  language: en
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      scheme: default
      toggle:
        icon: lucide/sun-moon
        name: Switch to light mode
      accent: green
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      toggle:
        icon: lucide/sun
        name: Switch to dark mode
      accent: green
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: lucide/moon
        name: Switch to system preference
      accent: green
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Giovo17/tfs-mt
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/tfs-mt
  generator: false

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["tfs_mt"]
          inventories:
            - https://docs.python.org/3/objects.inv
          options:
            docstring_style: google
            inherited_members: true
            show_source: true

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          #format: !!python/name:pymdownx.superfences.fence_code_format
  - footnotes
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.snippets:
      base_path: docs

extra_javascript:
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css
  - stylesheets/extra.css
