project: tfs_mt

seed: 42

sos_token: "<s>"
eos_token: "</s>"
pad_token: "<PAD>"
unk_token: "<UNK>"


model_base_name: tfs_mt
model_parameters:
  dropout: 0.1
  tokenizer_max_len: 128

model_configs:
  pretrained_word_embeddings: "GloVe"
  positional_embeddings: "sinusoidal"
  nano:
    num_encoder_layers: 4
    num_decoder_layers: 4
    d_model: 50
    num_heads: 4
    d_ff: 200
    glove_version: "glove.2024.wikigiga.50d"
    glove_filename: "wiki_giga_2024_50_MFT20_vectors_seed_123_alpha_0.75_eta_0.075_combined"
  small:
    num_encoder_layers: 5
    num_decoder_layers: 5
    d_model: 100
    num_heads: 6
    d_ff: 400
    glove_version: "glove.2024.wikigiga.100d"
    glove_filename: "wiki_giga_2024_100_MFT20_vectors_seed_2024_alpha_0.75_eta_0.05.050_combined"
  base:
    num_encoder_layers: 6
    num_decoder_layers: 6
    d_model: 200
    num_heads: 8
    d_ff: 800
    glove_version: "glove.2024.wikigiga.50d"
    glove_filename: "wiki_giga_2024_50_MFT20_vectors_seed_123_alpha_0.75_eta_0.075_combined"


training_hp:
  num_epochs: 100
  calculate_metrics: True
  load_checkpoint:
    load_full_checkpoint: False
    load_model_only: False
    load_checkpoint_path: None

  loss_type: crossentropy
  loss_args: None

  optimizer_type: adamw
  optimizer_args:
    learning_rate: 5e-2
    weight_decay: 1e-3
    beta1: 0.9
    beta2: 0.999
    eps: 1e-8


dataset:
  dataset_task: machine-translation
  dataset_id: "Helsinki-NLP/europarl"
  dataset_name: "en-it"
  train_split: 0.8
  test_split: 0.2
  src_lang: "en"
  tgt_lang: "it"

train_dataloader:
  batch_size: 32
  shuffle: True
  num_workers: 4
  drop_last: True

test_dataloader:
  batch_size: 32
  shuffle: False
  num_workers: 4
  prefetch_factor: 4
  drop_last: False
